# 파이프라인 2 Flow

### [ MongoDB -> BigQuery]
1. pipe_01 코드를 통해 완성된 MongoDB의 데이터를 BigQuery의 새로운 테이블로 옮김

## 1. MongoDB to Pandas DataFrame

In [1]:
import pymongo
MONGO_CLIENT_URL = "mongodb+srv://ecosy:2112@cluster0-mqgxy.gcp.mongodb.net/"

# MongoDB 접속을 위한 client 생성
client = pymongo.MongoClient(MONGO_CLIENT_URL)
db = client['take-home']
collection = db.eoa_item

In [2]:
# 해당 collection이 모든 데이터 가져옴
collection_list = list(collection.find({}))

In [3]:
# 데이터 크기 확인
len(collection_list)

108862

In [4]:
collection_list[0]

{'_id': ObjectId('5ee62d615a918ebfa3656a3f'),
 'eoa_address': '0x138a35ee20e40f019e7e7c00386ab2ef42d66d1e',
 'token_id': '20010647',
 'token_address': '0x273f7f8e6489682df756151f5525576e322d51a3',
 'item_name': 'MCH Hero: #20010647 Lv.6'}

In [6]:
import pandas as pd

# 데이터를 담을 dataframe 생성
df = pd.DataFrame(columns = ['eoa_address', 'token_id', 'token_address'])

In [7]:
# dataframe에 데이터 담기
for i in range(len(collection_list)):
    df.loc[i] = \
        [collection_list[i]['eoa_address']] + \
        [collection_list[i]['token_id']] + \
        [collection_list[i]['token_address']]

In [8]:
df.head()

,eoa_address,token_id,token_address
0,0x138a35ee20e40f019e7e7c00386ab2ef42d66d1e,20010647,0x273f7f8e6489682df756151f5525576e322d51a3
1,0x185b257aa51fdc45176cf1ffac6a0bfb5cf28afd,30260186,0x273f7f8e6489682df756151f5525576e322d51a3
2,0x185b257aa51fdc45176cf1ffac6a0bfb5cf28afd,30090008,0x273f7f8e6489682df756151f5525576e322d51a3
3,0xaebe641fb55e45488511ef7d9446e8c7c3d9ad28,20370001,0x273f7f8e6489682df756151f5525576e322d51a3
4,0x185b257aa51fdc45176cf1ffac6a0bfb5cf28afd,20150059,0x273f7f8e6489682df756151f5525576e322d51a3

## 2. Pandas Dataframe to BigQuery

In [ ]:
%load_ext google.cloud.bigquery
import google.cloud.bigquery.magics
import google.auth
from google.cloud import bigquery
from google.cloud import bigquery_storage_v1beta1

In [ ]:
google.cloud.bigquery.magics.context.use_bqstorage_api = True

# BigQuery 인증 받기
credentials, project_id = google.auth.default()

# BigQuery Client 인스턴스 생성
bqclient = bigquery.Client(
    credentials=credentials,
    project=project_id
)
bqstorageclient = bigquery_storage_v1beta1.BigQueryStorageClient(
    credentials=credentials
)

In [ ]:
# 데이터를 옮길 새로운 bigquery 테이블
table_id = 'take_home.eoa_tkid_tkaddr'

# string 타입의 데이터 명시 (오류 피하기 위한)
job_config = bigquery.LoadJobConfig(schema=[
    bigquery.SchemaField("eoa_address", "STRING"),
    bigquery.SchemaField("token_id", "STRING"),
    bigquery.SchemaField("token_address", "STRING"),
])

# 위에서 만든 dataframe을 bigquery로 옮기기
job = bqclient.load_table_from_dataframe(
    df, table_id, job_config=job_config
)

job.result()